<!DOCTYPE html>
<html lang="en">
<head>
  <title>Storefront</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/theme.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class = "color-background">
<div class="container mt-3">
  <h2>Button Outline</h2>
  <button type="button" class="btn btn-outline-success"><a href="./">Home</a></button>
  <button type="button" class="btn btn-outline-secondary"><a href="./table">Table</a></button>
  <button type="button" class="btn btn-outline-success"><a href="./list">List</a></button>
  <button type="button" class="btn btn-outline-dark"><a href="./audio">Audio</a></button>
  <button type="button" class="btn btn-outline-info"><a href="./video">Video</a></button>
  <button type="button" class="btn btn-outline-info"><a href="./storefront">Storefront</a></button>
</div>
<div class="container mt-3">

 <div class="slideshow">
<div class="slide-wrapper">
        <p>
        Product 1
    </p>
<div class="image-container"></div>
        <p>
        Product 2
    </p>
<div class="image-container"></div>
            <p>
        Product 3
        </p>
<div class="image-container"></div>
<div class="image-container"></div>
<div class="image-container"></div>
<div class="image-container"></div>
<div class="image-container"></div>
<div class="image-container"></div>
<div class="image-container"></div>
<div class="image-container"></div>
</div>
</div>
</div>
</body>
</html>

